.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    widht: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span {
    color: var(--verde);
}
.botao {
    font-family: <Crakra Petch>, sans-serif;
    background-color: var(--botao-inativo);
    color: var (--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    widht: 100%;
}
border-bottom: 4px solid var(--botao-ativo);
border-left: 2px solid var(--botao-ativo);
border-right: 2px solid var(--botao-ativo);
border-top: none;
.botoes {
    display: block;
}
@media  screen and (min-widht: 768px) {
    .botoes{
        display: flex;
    }
}
.botao:first-child{
    border-radius: 0 40px 0 0;
}
.botao:last-child {
    border-radius: 0 40px 0 0;
    }
